/* @page {
  size: 900px 1269px;
  margin: 0px;
  padding: 0px
}
 */
/* 
@media print {
    @page {
      size: A4 portrait;
      margin: 0; 
    }
    body {
      font-size: 16px; 
      margin: 0; 
    }
    .content {
      padding: 0px; 
    }
  } */

/*   `@page {
    size: 350px 450px;
    margin: 0px;
    padding: 0px
  }
  @media print { 
    html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    }
  }
   ` */